/*Global style*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    font-size: 63.6%;
}
body{
    min-height: 100vh;
    font-family: 'Mulish', sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
button{
    font-family: 'Mulish', sans-serif;
}

/* Header */

header{
    background: #ececec;
    min-height: 35vh;
}
#logo{
    flex: 1;
    margin-top: -10px;
    margin-left: -75px;
}
nav{
    height: 10vh; 
    display: flex;
    width: 80%;
    margin: 0 auto;
    align-items: center;
}
.nav-links{
    display: flex;
    flex: 1.5;
    justify-content: space-between;
    list-style-type: none;
    margin-top: -20px;
    font-size: 1.3rem;
}
.nav-links a{
    transition: all 0.5s ease-in-out;
}
.nav-links li:not(:last-child):hover{
    transform: scale(1.1);
}
.nav-btn{
    border: none;
    padding: .5rem 1rem;
    background: rgba(54, 151, 65, 0.862);
    color: white;
    cursor: pointer;
    font-weight: 500;
    font-size: .9rem;
    text-transform: uppercase;
    border-radius: 3px;
    box-shadow: 0 3px 0px rgba(81, 235, 73, 0.402);
    transition: all 0.8s ease-in-out;
}
.nav-btn:hover{
    background: rgba(81, 235, 73, 0.402);
    color: black;
}

/* Intro section */

.intro{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.intro h1{
    padding-top: 2rem;
}
.intro h4{
    padding: .9rem;
    font-weight: 300;
}
.intro-btns{
    padding-top: .4rem;
}
.intro-btns button{
    cursor: pointer;
    border: none;
    padding: .5rem 1rem;
    border-radius: 3px;
    box-shadow: 0 3px 0px rgb(203, 202, 202);
    transition: all 0.5s ease-in-out;
    font-weight: 500;
}
.intro-btns button:first-child{
    background: rgb(248, 180, 53);
    color: white;
    margin-right: 8px;
}
.intro-btns button:last-child{
    background: rgb(225, 223, 223);
}
.intro-btns button:last-child:hover{
    background: rgb(248, 180, 53);
    color: white;
}
.intro-btns button:first-child:hover{
    background: rgb(225, 223, 223);
    color: black;;
}

/* Video section */

.video-section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}
.video-button{
    display: flex;
    justify-content: center;
    padding-top: 0.9rem;
}
.video-button button{
    padding: .8rem 1.5rem;
    font-size: 1.2rem;
}

/* Icons section */

.hero{
    min-height: 100vh;
    width: 80%;
    margin: auto;
}
.icons{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}
.hero-text{
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero-text h1{
    font-size: 3rem;
    padding-bottom: 2rem;
}
.hero-text h3{
    font-weight: 300;
    color: gray;
    font-size: 1.3rem;
}
.icons img{
    transition: all 0.2s ease-in-out;
}
.icons img:hover{
    transform: scale(1.5);
}

/* Demo-images section */

.demo-images{
    padding-top: 2rem;
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem,1fr));
    gap: 25px;
}
.demo-images div p{
    font-weight: 600;
    padding-top: 15px;
    text-align: center;
    font-size: 1.3rem;
}
.demo-images img{
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 5px;
    padding-top: 1rem;
}

/* Ready-homepages section */

.ready-section{
    min-height: 150vh;
    background: #ececec;
}
.ready-text{
    margin-top: 5rem;
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.ready-text h1{
    font-weight: 600;
    font-size: 3rem;
    padding-bottom: 3rem;
}
.ready-text h2{
    font-weight: 200;
    color: gray;
}

/* Ready-images section */

.ready-images{
    width: 80%;
    margin: auto;
    padding-top: 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem,1fr));
    column-gap: 35px;
    row-gap: 35px;
}
.ready-images img{
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 5px;
}
.ready-images div > p{
    text-align: center;
    font-weight: 600;
    padding-top: 1.3rem;
    font-size: 1.2rem;
}