/*Global Style
------------------------------->*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 63.6%;
  --gray-color: #ececec;
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  font-family: "Mulish", sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
button {
  font-family: "Mulish", sans-serif;
}

/* Header Section
------------------------------->*/

header {
  background: var(--gray-color);
  min-height: 40vh;
}
#logo {
  flex: 1;
  margin-top: -10px;
  margin-left: -75px;
}
nav {
  height: 10vh;
  display: flex;
  width: 80%;
  margin: 0 auto;
  align-items: center;
}
.nav-links {
  display: flex;
  flex: 1.5;
  justify-content: space-between;
  list-style-type: none;
  margin-top: -10px;
  font-size: 1.3rem;
}
.nav-links a {
  transition: all 0.5s ease-in-out;
}
.nav-links li:not(:last-child):hover {
  transform: scale(1.1);
}
.nav-btn {
  border: none;
  padding: 0.5rem 1rem;
  background: rgba(54, 151, 65, 0.862);
  color: white;
  cursor: pointer;
  font-weight: 500;
  font-size: 0.9rem;
  text-transform: uppercase;
  border-radius: 3px;
  box-shadow: 0 3px 0px rgba(81, 235, 73, 0.402);
  transition: all 0.8s ease-in-out;
}
.nav-btn:hover {
  background: rgba(81, 235, 73, 0.402);
  color: black;
}

/* Intro Section 
------------------------------->*/

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3.5rem;
}
.intro h4 {
  padding: 1.3rem;
  font-weight: 300;
}
.intro-btns {
  padding-top: 0.7rem;
}
.intro-btns a {
  cursor: pointer;
  border: none;
  padding: 0.5rem 1.3rem;
  border-radius: 3px;
  box-shadow: 0 3px 0px rgb(203, 202, 202);
  transition: all 0.5s ease-in-out;
  font-weight: 500;
}
.intro-btns a:first-child {
  background: rgb(248, 180, 53);
  margin-right: 8px;
}
.intro-btns a:first-child {
  color: white;
}
.intro-btns a:last-child {
  background: rgb(225, 223, 223);
}
.intro-btns a:last-child:hover {
  background: rgb(248, 180, 53);
  color: white;
}
.intro-btns a:first-child:hover {
  background: rgb(225, 223, 223);
  color: black;
}

/* Video Section 
------------------------------->*/

.video-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}
.video-button {
  display: flex;
  justify-content: center;
  padding-top: 0.9rem;
}
.video-button button {
  padding: 0.8rem 1.5rem;
  font-size: 1.2rem;
}

/* Icons Section 
------------------------------->*/

.hero {
  width: 80%;
  margin: auto;
}
.icons {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}
.hero-text {
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-text h1 {
  font-size: 3.5rem;
  padding-bottom: 3rem;
}
.hero-text p {
  font-weight: 300;
  color: gray;
  font-size: 1.5rem;
}
.icons img {
  transition: all 0.2s ease-in-out;
}
.icons img:hover {
  transform: scale(1.5);
}

/* Demo Images Section 
------------------------------->*/

.demo-images {
  padding: 4rem;
  justify-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 25px;
}
.demo-images div p {
  font-weight: 600;
  padding-top: 0.7rem;
  text-align: center;
  font-size: 1.3rem;
  transition: all 1s ease-in-out;
}
.demo-images div:hover {
  transform: scale(1.1);
  transition: all 0.7s ease-in-out;
}
.demo-images img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 5px;
  padding-top: 1rem;
}

/* Ready Homepages Section 
------------------------------->*/

.ready-section {
  /* height: 375vh; */
  background: var(--gray-color);
  padding: 5rem;
}
.ready-text {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.ready-text h1 {
  font-weight: 600;
  font-size: 3rem;
  padding-bottom: 3rem;
}
.ready-text h2 {
  font-weight: 200;
  color: gray;
}

/* Ready Images section 
------------------------------->*/

.ready-images {
  width: 80%;
  margin: auto;
  padding-top: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  column-gap: 35px;
  row-gap: 25px;
}
.ready-images img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 5px;
}
.ready-images div > p {
  text-align: center;
  font-weight: 600;
  padding: 1.3rem;
  font-size: 1.2rem;
}

.ready-images div:hover {
  transform: scale(1.1);
  transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/* Testemonials Section 
---------------------------->*/

.testemonial-section {
  width: 80%;
  margin: auto;
  padding: 5rem;
}
.testemonial-text {
  text-align: center;
  font-size: 1.5rem;
}
.testemonial-text h1 span {
  font-size: 2.5rem;
}
.testemonials {
  padding: 5rem 0 5rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  gap: 2.5rem;
}
.testemonials img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
}
.card {
  color: gray;
  border-radius: 3px;
  padding: 1.5rem;
  background: var(--gray-color);
  text-align: center;
  height: 240px;
  animation: testemonial 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.testemonials div:last-child {
  align-self: start;
  height: 150px;
  background: linear-gradient(var(--gray-color), white);
}
.testemonials div:first-child {
  align-self: start;
  background: linear-gradient(var(--gray-color), white);
}
.testemonials div:nth-child(2) {
  align-self: start;
  background: linear-gradient(var(--gray-color), white);
}
.testemonials div:nth-child(3) {
  align-self: start;
  background: linear-gradient(var(--gray-color), white);
}
.testemonials div:nth-child(4) {
  align-self: start;
  height: 100px;
  background: linear-gradient(var(--gray-color), white);
}
.testemonials div:nth-child(5) {
  align-self: start;
  height: 100px;
  background: linear-gradient(var(--gray-color), white);
  align-self: flex-end;
}
.card img {
  width: 80px;
  height: 30px;
  aspect-ratio: 1;
}
.card > p {
  line-height: 1.8rem;
}
.card h3 {
  padding-top: 0.5rem;
}
.testemonials-btn {
  text-align: center;
  padding: 2rem;
}
.testemonials-btn button {
  border: none;
  padding: 0.7rem 2rem;
  font-weight: 600;
  border-radius: 3px;
  box-shadow: 0 3px 0 rgb(203, 202, 202);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.testemonials-btn button:hover {
  background: rgb(255, 202, 104);
  color: white;
}

/* Search Form Section 
--------------------------->*/

.search-form-section {
  padding-top: 5rem;
  background: var(--gray-color);
}
.search-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search-text h1 {
  font-weight: 550;
  padding-bottom: 2rem;
  font-size: 3rem;
}
.search-text p {
  font-size: 1.4rem;
  width: 50%;
  text-align: center;
  color: gray;
  line-height: 2rem;
}
.search-form-icons {
  width: 80%;
  margin: 0 auto;
  padding: 7rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  gap: 3rem;
}
.search-form-icons div h2 {
  padding: 1.5rem 0 0.5rem 0;
  font-weight: 600;
}
.search-form-icons div p {
  line-height: 1.5rem;
  color: gray;
}

/* User Panel Section 
--------------------------->*/

.user-panel-section {
  padding-top: 5rem;
  background: url(./images/36d209584ab7692cbca7ff9910691a3e-abstract-gray-polygonal-background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.user-panel-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user-panel-text h1 {
  font-weight: 550;
  padding-bottom: 2rem;
  font-size: 3rem;
}
.user-panel-text p {
  font-size: 1.4rem;
  width: 50%;
  text-align: center;
  color: gray;
  line-height: 2rem;
}
.user-panel-icons {
  padding-top: 6rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  gap: 2rem;
}
.user-panel {
  width: 80%;
  margin: 0 auto;
}
.user-panel-icons div h2 {
  padding: 1.5rem 0 0.5rem 0;
  font-weight: 600;
}
.user-panel-icons div > p {
  line-height: 1.5rem;
  color: gray;
}
.user-panel-icons {
  width: 80%;
  margin: 0 auto;
}
.user-panel-btn {
  text-align: center;
  padding: 5rem;
}
.user-panel-btn button {
  border: none;
  padding: 0.7rem 2rem;
  font-weight: 600;
  border-radius: 3px;
  box-shadow: 0 3px 0 rgb(203, 202, 202);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.user-panel-btn button:hover {
  background: rgb(115, 165, 251);
  color: white;
}

/* Monetize Section 
-------------------------->*/

.monetize-website-section {
  width: 80%;
  margin: auto;
  text-align: center;
  padding: 5rem;
}
.monetize-text h1 {
  font-size: 3rem;
}
.monetize-website {
  padding: 2rem;
  display: flex;
}
.monetize-website p {
  padding: 1rem;
  color: gray;
  line-height: 1.5rem;
}
.monetize-website div {
  padding: 3rem;
}
.monetize-icons {
  display: flex;
  justify-content: space-around;
}

/* Idx Broker Section 
--------------------------->*/

.idx-broker-section {
  background: var(--gray-color);
  padding: 3rem;
  text-align: center;
}
.idx-text h1 {
  padding: 1rem;
  font-size: 3.5rem;
  font-weight: 550;
}
.idx-text img {
  width: 200px;
  height: 120px;
}
.idx-broker {
  padding-top: 1rem;
  width: 80%;
  margin: auto;
  display: flex;
}
.idx-broker h1 {
  padding-bottom: 1rem;
}
.idx-broker p {
  line-height: 1.5rem;
  color: gray;
}
.idx-broker div {
  padding: 2rem;
}
.idx-broker div:first-child {
  padding-top: 3.8rem;
}
.idx-broker div h2:first-child {
  padding-bottom: 1rem;
  font-size: 3rem;
  /* color: rgb(188, 117, 221); */
  background: linear-gradient(to right, rgb(246 11 145), rgb(168 148 229));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.idx-btn {
  padding: 2rem;
}
.idx-broker-btn {
  border: none;
  padding: 0.7rem 2rem;
  font-weight: 600;
  border-radius: 3px;
  box-shadow: 0 3px 0 rgb(203, 202, 202);
  background: white;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.idx-broker-btn:hover {
  background: rgb(168 148 229);
  color: white;
}

/* Plugins Section */

.plugins-section {
  padding: 5rem;
  text-align: center;
}
.plugins-text h1 {
  font-size: 3.5rem;
  font-weight: 550;
}
.plugins-text p {
  font-size: 1.2rem;
  color: gray;
  padding: 2.5rem;
}
.plugins {
  width: 60%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  padding: 4rem;
}
.plugins div img {
  width: 100%;
}
.plugins div:nth-child(3) img,
.plugins div:nth-child(2) img {
  height: 40.5%;
}
.plugins div:nth-child(5) img {
  height: 43.5%;
}
.plugins div h4 {
  padding: 1.5rem 0 1.5rem 0;
  text-align: left;
}
.plugins-icons {
  padding-top: 4rem;
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

/* Footer Section */

footer {
  height: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: linear-gradient(rgba(8, 8, 8, 0.9), rgba(5, 5, 5, 0.9)),
    url(./images/Footer/pexels-curtis-adams-5353875.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
.footer-section {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.footer-section img {
  padding-bottom: 1rem;
  height: 35%;
  width: 35%;
}
.footer-section h1 {
  font-weight: 400;
  color: white;
  font-size: 2.5rem;
}
.footer-section h4 {
  padding: 3.5rem;
  font-size: 1.3rem;
  font-weight: 200;
  color: rgb(197, 197, 197);
}
.footer-btn {
  text-transform: uppercase;
  border: none;
  padding: 0.9rem 2.3rem;
  font-weight: 600;
  border-radius: 3px;
  box-shadow: 0 3px 0px rgba(113, 166, 110, 0.955);
  background: rgba(54, 151, 65, 0.862);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  color: rgb(238, 238, 238);
}
.footer-btn:hover {
  background: rgba(113, 166, 110, 0.955);
  color: black;
  box-shadow: 0 3px 0px rgba(54, 151, 65, 0.862);
}

/* Animation Section 
---------------------------------->*/

@keyframes testemonial {
  0% {
    transform: translate(-100%, 0%);
  }
  100% {
    transform: translate(0, 0);
  }
}
